.container {
  width: 100%;
  height: fit-content;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 0;
  margin-left: 0;

  margin: 0;
}

.contentContainer {
  width: 100%;
  max-width: 1442px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  padding: 0 16px;
  box-sizing: border-box;
}

@media (max-width: 400px) {
  .contentContainer {
    padding: 0 12px;
  }
}
